#footer
{
    background: black;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 1rem;
}

#footer .footer-top
{
    background: #151515;
    border-bottom: 1px solid #222222;
    padding: 60px 0 30px 0;
}

.footer-info
{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-info>*:not(h3),
.footer-links>*:not(h3),
.footer-newsletter>p
{
    opacity: 0.65;
}

#footer .footer-top .footer-info h3
{
    font-size: 2rem;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

#footer .footer-top .footer-info p
{
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 0;
    color: #fff;
}

#footer .footer-top .social-links a
{
    font-size: 1.25rem;
    display: inline-block;
    background: #292929;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: var(--border-radius-pill);
    text-align: center;
    width: 36px;
    height: 36px;
    transition: color 0.3s ease;
}

#footer .footer-top .social-links a:hover
{
    background: var(--hover-green);
    color: #151515;
    text-decoration: none;
}

#footer .footer-top h3
{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links
{
    margin-inline-end: clamp(2em, 20vw, 20em);
}

#footer .footer-top .footer-links ul i
{
    padding-right: 2px;
    color: var(--hover-green);
    font-size: 1.25rem;
    line-height: 1;
}

#footer .footer-top .footer-links ul li
{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child
{
    padding-top: 0;
}

#footer .footer-top .footer-links ul a
{
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover,
a[href^="mailto"]:hover
{
    color: var(--hover-green);
}

#footer .footer-top .footer-newsletter form
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    position: relative;
    border-radius: var(--border-radius-pill);
}

.form-btn
{
    border: none;
    background-color: var(--primary-green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-pill) 0 0 var(--border-radius-pill);
    font-size: 1rem;
    font-weight: 600;
    border-radius: var(--border-radius-pill);
    padding: 0.75em 1.5em;
    transition: background-color var(--transition-time) var(--transition-curve);
}

.form-btn:is(:hover)
{
    background-color: var(--hover-green);
}

#footer .footer-top .footer-newsletter form input[type="email"]
{
    border-radius: var(--border-radius-pill) 0 0 var(--border-radius-pill);
    width: 100%;
    border: 0;
    padding: 0.25em 0.25em 0.25em 1em;
    outline: none;
}

#footer .footer-top .footer-newsletter form input[type="submit"]
{
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 1rem;
    padding: 0 20px;
    background: var(--hover-green);
    color: #151515;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover
{
    background: #ffcd6b;
}

#footer .copyright
{
    text-align: center;
    padding-top: 30px;
}

#footer .credits
{
    padding-top: 10px;
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
}

.col-lg-3
{
    width: 25%;
}

.col-lg-2
{
    width: 16.66666667%;
}

.col-lg-4
{
    width: 33.33333333%;
}

.footer-container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 0 80px;
    flex-wrap: wrap;
}