*
{
    padding: 0;
    margin: 0;
    /* background-color: rgba(0, 0, 0, 0.626); */
    /* color: white; */
    font-family: 'Merriweather Sans', sans-serif;
}
body
{
    background-color:#181874;
}

h3
{
    margin-top: 50px;
    font-size: xx-large;
    text-align: center;
    color: rgb(0, 0, 0);
    /* font-family: cursive; */
}

form
{
    margin: 3% auto auto auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    /* padding: 20px; */
    border-radius: 10px;
    /* border: solid 2px white; */

}
form input
{
    /* padding: 5px; */
    text-align: center;
    background: #ffffff75;
    width: 22rem;
    border: solid 4px #5E5DF0;
    height: 3.5rem;
    font-size: x-large;
    border-radius: 50px;
    outline: none;
    color: blueviolet;
}
button
{
    width: 7em;
    margin-top: 40px;
    padding: 10px;
    border-radius: 30px;
    background-color: #5E5DF0;
    color: white;
    font-size: large;
    border: none;
}

#btn1, #btn2
{
    display: none;
}

button:hover
{
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition-duration: 0.3s;
    background-color: rgb(61, 47, 83);
}

button#emailbtn{
    /*margin-left: 415px;*/
    background: #dadaff;
    border-radius: 999px;
    box-shadow: #0a0a38 0 10px 20px -10px;
    box-sizing: border-box;
    color: #160a47;
    cursor: pointer;
    /*font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;*/
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 20px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

button#emailbtn:hover{
    background-color: #7171d9;
}

.nav{
    background-color: rgb(255, 255, 255);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    padding: 10px 0px 50px 0px;
    border-radius:0.9%;
    box-shadow: #9999ff 0px 10px 20px -10px;
}

.pic1{
    height:320px;
    margin-top:70px;
    border-radius: 50%;
}

header {
    position: relative;
    /* left: 30px; */
    z-index: 70;
    background-color: #680929;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 100px;
    margin-right: 0.6rem;
    margin-top: -0.6rem;
}

.links ul {
    display: flex;
    list-style: none;
    align-items: center;
    position: relative;
    left: 300px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.links a {
    color: #fff;
    margin-left: 4.5rem;
    display: inline-block;
    transition: 0.3s;
}

.links a:hover {
    color: rgba(5, 127, 148, 0.88);
    transform: scale(1.05);
}

.prediction{
    background-color: #fff;
    margin: 50px 300px 0 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}