*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
}
body{
    background-color: #181874;
}


.navigation{
    display: flex;
    /* padding: 20px 60px; */
    height: 80px;
    justify-content: flex-end;
    width: 100%;
    top: 0;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgb(141, 131, 131);
    background-color: #fff;
}
.navigation ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0px 70px;
}
.nav-item{
    margin: 20px;
}
a{
    text-decoration: none;
    font-size: 20px;
}
.email_container{
    margin: 30px 0px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.url{
    padding: 5px;
    text-align: center;
    background: #ffffff75;
    width: 22rem;
    border: 4px solid #5E5DF0;
    height: 3.5rem;
    font-size: x-large;
    border-radius: 50px;
    outline: none;
    color: blueviolet;
}
textarea::placeholder{
    transform: translateY(12px);
}
#btn{
    display: block;
    margin: 35px auto 20px;
    width: 7em;
    padding: 10px;
    font-size: large;
    border: none;
    background-color: #5E5DF0;
    border-radius: 30px;
    color: white;
    transition: all;
    transition: all  0.3s;
}
#btn:hover{
    transform: scale(1.175);
    cursor: pointer;
}
.check{
    background-color: rgb(255,255,255);
    padding: 35px 70px;
    border-radius: 0.9%;
    box-shadow: #9999ff 0px 10px 20px -10px;
}
.check h3{
    text-align: center;
    margin:40px auto 20px;
    font-size: xx-large;
    color: rgb(0, 0, 0);
}
.prediction{
    margin-top: 50px;
    background-color: rgb(255,255,255);
    padding: 35px 90px;
    border-radius: 0.9%;
    box-shadow: #9999ff 0px 10px 20px -10px;
}
.nav-link{
    transition: color 0.3s;
}
.nav-link:hover{
    color: orange;
}
@media (max-width:500px){
    .navigation{
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
    }
    .email_container{
        margin: 20px 0px 30px 0px;
    }
    .check{
        padding: 15px 40px;
    }
    .check h3{
        margin:30px auto 20px;
        font-size: 28px;
        color: rgb(0, 0, 0);
    }
    .prediction{
        margin-top: 30px;
        padding: 30px 60px;
    }
}