<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <!--a href="/"><button>Go back</button></a-->
    <div class="nav">
    <h3>Email Scan</h3>
    <form action="/predict" id="input_text" method="post" placeholder="Paste your mail here" required>
        <textarea name="textinput" id="text" cols="30" rows="10"></textarea>
        <button type="submit" id="btn">Check</button>
    </form>
    </div>
    <center><a href="/url"><button id="emailbtn">Tap to Check URL</button></a></center>
    <div class="prediction"><center>
        {% if prediction == 1%}
	<h2 style="color:red;">It's a SPAM!</h2>
	{% elif prediction == 0%}
				<h2 style="color:green;"><b>Not a Spam, YOU ARE SAFE!</b></h2>
	{% endif %}</center>
    </div>
</body>
</html>