<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/stylemail.css" />
    <title>Spam Detection</title>
</head>
<body>
    <nav>
        <div class="navigation">
            <ul>
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="/url" class="nav-link">Check URL</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="email_container">
        <div class="check">
            <h3>Check Email</h3>
            <form action="/predict" id="input_text" method="post" placeholder="Paste your mail here" required>
                <textarea name="textinput" class="url" id="url" cols="30" rows="4" placeholder="Enter the mail here"></textarea>
                <button type="submit" id="btn">Check</button>
            </form>
        </div>
        <div class="safe">
            <div class="prediction">
                {% if prediction == 1%}
                <h2 style="color: red">It's a SPAM!</h2>
                {% elif prediction == 0%}
                <h2 style="color: green"><b>Not a Spam, YOU ARE SAFE!</b></h2>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
