<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../templates/My project (1).ico" />
    <link rel="stylesheet" href="../static/phising.css" />
    <link rel="stylesheet" href="../static/reset.css"/>
    <link rel="stylesheet" href="../static/card.css"/>
    <link rel="stylesheet" href="../static/footer.css"/>
    <!-- <script type="module" src="phising.js" defer></script> -->
    
    <title>FraudShield</title>
</head>
<body>
    <main class="main">
		<h1 class="heading">FraudShield</h1>
		<p class="subtitle">
			<span class="subtitle-1">Protect yourself from phishing attacks </span>
			<span class="subtitle-2">Don't take the bait</span>
			<span class="bg-image"></span>
		</p>
		<a class="join-us-btn-link" href="#login-section">
			<button class="join-us-btn">
				<span>Join Us</span><img
					src="https://img.icons8.com/external-inkubators-detailed-outline-inkubators/36/FFFFFF/external-right-chevron-arrows-inkubators-detailed-outline-inkubators-2.png"
					alt="right chevron" />
			</button>
		</a>
	</main>

    <section class="login-cards" id="login-section">
		<div class="background">
			<div class="container">
				<div class="panel pricing-table"  data-aos="zoom-in-up" data-aos-offset="300">
					<div class="pricing-plan">
						<!-- <img src="cybersecurity-gd02dbd085_1280.png" alt="" class="pricing-img" /> -->
						<h2 class="pricing-header">URL</h2>
						<ul class="pricing-features">
							<li class="pricing-features-item">
								Helps detecting fraudulent website address
							</li>
							<!-- <li class="pricing-features-item">
								Reduce wastage of your food
							</li> -->
						</ul>
						<button class="pricing-button" data-js="loginButton">
							Check
						</button>
						<span class="login-as">for URL</span>
					</div>

					<div class="pricing-plan">
						<!-- <img src="assets/images/undraw_factory.svg" alt="" class="pricing-img" /> -->
						<h2 class="pricing-header">E-mail</h2>
						<ul class="pricing-features">
							<li class="pricing-features-item">
								Helps detecting deceptive emails meant to trick users  
							</li>
							<!-- <li class="pricing-features-item">
								Used the oil to your advantage
							</li> -->
						</ul>
						<button class="pricing-button" data-js="loginButton">
							Check
						</button>
						<span class="login-as">for E-mail</span>
					</div>

				</div>
			</div>
		</div>
	</section>

    <footer id="footer">
		<div class="footer-top">
			<div class="footer-container">
				<div class="col-lg-3 mobile">
					<div class="footer-info">
						<h3>FraudShield</h3>
						<p>
							Plot no. 269, Saheed Nagar, Bhubaneswar <br />
							<strong>Email:</strong>
							<a href="mailto:fraudshield.mailus@gmail.com">fraudshield.mailus@gmail.com</a>
						</p>
						<div class="social-links mt-3">
							<a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
							<a href="#" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
							<a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
							<a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 mobile footer-links">
					<h3>Useful Links</h3>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="restaurant/">URL Check</a></li>
						<li><a href="industry/">E-mail Check</a></li>
						
					</ul>
				</div>
				<!-- <div class="col-lg-4 mobile footer-newsletter">
					<h3>Our Newsletter</h3>
					<p>
						Stay in the know with exclusive updates and content
						by subscribing to our newsletter today!
					</p>
					<form action="" method="post">
						<input type="email" name="email" placeholder="Enter your email here" />
						<button class="form-btn">Subscribe</button>
					</form>
				</div> -->
			</div>
		</div>
		<div class="footer-bottom">
			<div class="copyright">
				&copy; Copyright <strong><span>FraudShield</span></strong>. All Rights Reserved
			</div>
		</div>
	</footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
    <script src="https://kit.fontawesome.com/f334ead1fc.js" crossorigin="anonymous"></script>

</body>
</html>