<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta https-equiv="Content-Security-Policy" content="default-src *;" />
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="My project (1).ico" alt="Logo" />
            </div>
    
            <div class="links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="suggestion.html">Suggestions</a></li>
                    <li><a href="login.html" class="btn1">Login</a></li>
                </ul>
            </div>
    
            <div class="overlay"></div>
    
            <div class="hamburger-menu">
                <div class="bar"></div>
            </div>
        </div>
    </header>
    <div class="nav">
        <h3>Check URL</h3>
        <form action="/" method="post">
            <input type="text" name="url" id="url" placeholder="Input url here" required>
            <button type="submit" id="btn">Send URL</button>
        </form>
    </div>
    <center><a href="/email">
        <button id="emailbtn">Tap to Check Email</button></a></center>
    <center>
    <img class="pic1" src="https://i.postimg.cc/cJTFPzj5/20945597.jpg"></center>
    <div class="form-2" id="form2">
        
        <br>
        <h6 class = "right "><a href= {{ url }} target="_blank">{{ url }}</a></h6>
           
        <br>
        <h3 id="prediction"></h3>
        
        <button  id="btn2" role="button" onclick="window.open('{{url}}')" target="_blank" >Still want to Continue</button>
        <button  id="btn1" onclick="window.open('{{url}}')" target="_blank">Continue</button>
    </div> 
    
<script src="/static/script.js"></script>

    <!-- <script src="../newfolder/static/script.js"></script> -->
    <script>
        let x = '{{xx}}';
let num = x*100;
if (0<=x && x<0.50){
    num = 100-num;
}
let txtx = num.toString();
if(x<=1 && x>=0.50){
    var label = "This Website is safe to visit...";
    document.getElementById("prediction").innerHTML = label;
    document.getElementById("btn1").style.display="block";
}
else if (0<=x && x<0.50){
    var label = "This Website is unsafe to visit.."
    document.getElementById("prediction").innerHTML = label ;
    document.getElementById("btn2").style.display="block";
}


// console.log(13);
// document.addEventListener('DOMContentLoaded', function() {
//     console.log("document loaded");
//     // var iframe = document.getElementById('my-iframe');
//     // var localServerUrl = 'http://127.0.0.1:5000'; // Replace with your local server URL
//     // iframe.src = chrome.runtime.getURL('index.html') + '?url=' + encodeURIComponent(localServerUrl);
//     // iframe.src=localServerUrl;
//     chrome.tabs.query({active: true, lastFocusedWindow: true}, tabs => {
//         console.log("query loaded")
//         let url = tabs[0].url;
//         console.log(url);
//         // var iframe = document.getElementById('my-iframe');
        
//         let input_url=document.getElementById('url');
//         // let btn=iframe.contentWindow.document.getElementById('btn');
//         input_url.innerHTML=url;
//         // btn.click();
//         // use `url` here inside the callback because it's asynchronous!
//     });
//   });



// <div id="my-element">Content</div>


//   var element = document.getElementById('url');
// function func() {
//     var id = element.getAttribute('id');
//     parent.postMessage({ type: 'element-id', data: id }, '*');
//   };
//   func();


    </script>
    


</body>
</html>